@import"../css-config/mixins.scss";

.categories {
    // display: flex;
    padding: 20px;
    justify-content: space-between;


    @include md {

        display: flex;
    }

    @include lg {
        display: flex;
    }

    @include xxl {
        display: flex;

    }
}